.git
.github
.idea
.metals
.vagrant
**/.DS_Store
**/.gradle
**/.idea
**/node_modules
**/target
**/.cache-main
**/.cache-tests
akka-bbb-apps
akka-bbb-fsesl
bbb-common-message
bbb-common-web
bbb-fsesl-client
bbb-graphql-client-test
bbb-libreoffice
bbb-livekit
bbb-recording-imex
bbb-shared-notes-server
bbb-voice-conference
bigbluebutton-config
bigbluebutton-tests
bigbluebutton-web
build
docs
labs
record-and-playback
scripts
data
*.md
!docker/README.md
